body{
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
}

*,*::before,*::after {
    box-sizing: border-box;
}

ul, ol{
    list-style: none;
}

img{
    vertical-align: top;
}

a{
    text-decoration: none;
}